@import "../variables.scss";

.button {
    padding: 12px 50px;
    border-radius: 24px;
    font-family: "Quicksand";
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;

    &--secondary {
        color: $dodger-blue-color;
        border: 1px solid $dodger-blue-color;
        background-color: #fff;
    }

    &--primary {
        background: $dodger-blue-color;
        box-shadow: 0px 4px 8px rgba(55, 125, 255, 0.5);
        color: #fff;
        border: none;
    }
}