@import "./variables.scss";
@import "./components/button.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Quicksand";
    letter-spacing: 0.01em;
}

.header {
    max-width: $container-width;
    width: 100%;
    margin: 72px auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
        display: flex;
        align-items: center;
    }

    &__agency {
        font-weight: 700;
        font-size: 20px;
    }

    &__creative {
        font-weight: 400;
        font-size: 16px;
        margin-top: 4px;
    }

    &__nav {
        display: flex;
    }

    &__nav-item {
        list-style-type: none;

        &:not(:last-child) {
            margin-right: 50px;
        }
    }

    p {
        margin-left: 10px;
    }

    a {
        text-decoration: none;
        font-size: 18px;
        color: $black-color;
        transition: 0.5s;

        &:hover {
            text-shadow: 0 0 .65px $black-color, 0 0 .65px $black-color;
            transition: 0.5s;
        }
    }
}

.banner {
    margin-top: 68px;

    &__title {
        text-align: center;
        font-size: 64px;
        font-weight: 800;
        color: $black-color;
        font-family: "Nunito";
        max-width: 749px;
        width: 100%;
        margin: auto;
    }

    &__description {
        text-align: center;
        font-weight: 400;
        font-size: 20px;
        color: $grey-color;
        max-width: 767px;
        width: 100%;
        margin: 24px auto 0;
    }

    &__container-button {
        text-align: center;
        margin-top: 32px;
    }

    &__background-img {
        width: 100%;
        margin: 103px auto 0;
        position: relative;
        max-width: 739px;
    }

    &__evaluation {
        width: 175px;
        height: 95px;
        position: absolute;
        left: -107px;
        padding: 20px;
        top: 24px;
        background: #FFFFFF;
        box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
        border-radius: 16px;
    }

    &__great-project {
        font-size: 12px;
        font-weight: 700;
        color: $black-color;
        opacity: 0.5;
    }

    &__done {
        font-family: "Nunito";
        font-weight: 700;
        font-size: 24px;
        margin-top: 11px;
    }

    &__evaluation-title {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            margin-right: 5px;
        }
    }

    &__people-message {
        position: absolute;
        left: 680px;
        bottom: -7px;
        padding: 26px 20px 25px 21px;
        width: 166px;
        height: 166px;
        background: #FFFFFF;
        box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
        border-radius: 16px;
    }

    &__people-name {
        margin-right: 3px;
    }

    &__people {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__name-people {
        margin-left: 10px;
        font-size: 10px;
        font-weight: 600;
    }

    &__uptech {
        font-size: 6px;
        opacity: 0.5;
        margin: 2px 0 0 10px;
    }

    &__message {
        font-size: 10px;
        margin-top: 17px;
        font-family: "Nunito";
    }
}

.about {
    max-width: $container-width;
    width: 100%;
    margin: 206px auto 0;

    &__head-text {
        text-align: center;
        font-weight: 600;
        font-size: 24px;
        color: $dodger-blue;
        margin-top: 206px;
    }

    &__title {
        font-family: "Nunito";
        text-align: center;
        margin-top: 20px;
        font-weight: 700;
        font-size: 55px;
    }

    &__teammate {
        display: flex;
        margin-top: 38px;
    }

    &__our-teammate {

        img {
            max-width: 503px;
        }
    }

    &__text-inside {
        font-size: 20px;
        margin-left: 50px;

       p {
           &:not(:first-child) {
               margin-top: 24px;
           }
       }
    }

    &__button {
        margin: 24px 0 0 65px;
        display: flex;

        button {
            img {
                margin-right: 10px;
            }

            &:not(:last-child) {
                margin-right: 25px;
            }
        }
    }

    &__story-button {
        background: #fff;
        color: $dodger-blue;
        border: 1px solid $dodger-blue;
        display: flex;
        align-items: center;
    }

}