@import "./variables.scss";
@import "./components/button.scss";
@import "./components/title.scss";
@import "./components/testimonial-card.scss";
@import "./components/description.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  font-family: "Quicksand";
  letter-spacing: 0.01em;
  max-width: $container-width;
  width: 100%;
  margin: auto;
}

.header {
  margin: 72px auto 0;
  width: 100%;
  max-width: $container-width;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Quicksand";

  &__logo {
    display: flex;
    align-items: center;
  }

  &__agency {
    font-weight: 700;
    font-size: 20px;
  }

  &__creative {
    font-weight: 400;
    font-size: 16px;
    margin-top: 4px;
  }

  &__nav {
    display: flex;
  }

  &__nav-item {
    list-style-type: none;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  p {
    margin-left: 10px;
  }

  a {
    text-decoration: none;
    font-size: 18px;
    color: $black-color;
    transition: 0.5s;

    &:hover {
      text-shadow: 0 0 .65px $black-color, 0 0 .65px $black-color;
      transition: 0.5s;
    }
  }
}

.banner {
  margin-top: 68px;

  &__max-width-description {
    max-width: 767px;
  }

  &__title {
    text-align: center;
    font-size: 64px;
    font-weight: 800;
    color: $black-color;
    font-family: "Nunito";
    max-width: 749px;
    width: 100%;
    margin: auto;
  }

  &__container-button {
    text-align: center;
    margin-top: 32px;
  }

  &__background-img {
    width: 100%;
    margin: 103px auto 0;
    position: relative;
    max-width: 739px;
  }

  &__evaluation {
    width: 175px;
    height: 95px;
    position: absolute;
    left: -107px;
    padding: 20px;
    top: 24px;
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
  }

  &__great-project {
    font-size: 12px;
    font-weight: 700;
    color: $black-color;
    opacity: 0.5;
  }

  &__done {
    font-family: "Nunito";
    font-weight: 700;
    font-size: 24px;
    margin-top: 11px;
  }

  &__evaluation-title {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      margin-right: 5px;
    }
  }

  &__people-message {
    position: absolute;
    left: 680px;
    bottom: -7px;
    padding: 26px 20px 25px 21px;
    width: 166px;
    height: 166px;
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
  }

  &__people-name {
    margin-right: 3px;
  }

  &__people {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__name-people {
    margin-left: 10px;
    font-size: 10px;
    font-weight: 600;
  }

  &__uptech {
    font-size: 6px;
    opacity: 0.5;
    margin: 2px 0 0 10px;
  }

  &__message {
    font-size: 10px;
    margin-top: 17px;
    font-family: "Nunito";
  }
}

.about {
  margin-top: 206px;

  h3 {
    margin-top: 20px;
  }

  &__teammate {
    display: flex;
    margin-top: 38px;
  }

  &__our-teammate {

    img {
      max-width: 503px;
    }
  }

  &__text-inside {
    font-size: 20px;
    margin-left: 50px;

    p {
      color: $dark-gray-color;

      &:not(:first-child) {
        margin-top: 24px;
      }
    }
  }

  &__button {
    margin: 24px 0 0 65px;
    display: flex;

    button {
      img {
        margin-right: 10px;
      }

      &:not(:last-child) {
        margin-right: 25px;
      }
    }
  }

  &__story-button {
    background: #fff;
    color: $dodger-blue-color;
    border: 1px solid $dodger-blue-color;
    display: flex;
    align-items: center;
  }
}

.services {
  display: flex;
  margin-top: 160px;

  h3 {
    margin-top: 32px;
  }

  &__left-align {
    text-align: left;
  }

  &__text-align-description {
    text-align: left;
  }

  &__read-more {
    display: flex;
    align-items: center;
    float: right;
    margin-top: 36px;

    h4 {
      margin-right: 7px;
      font-weight: 700;
      font-size: 20px;
      color: $dodger-blue-color;
    }
  }

  &__container-text {
    max-width: 521px;
  }

  &__areas {
    display: grid;
    grid-template-columns: repeat(2, 262px);
    grid-template-rows: repeat(2, 269px);
    grid-gap: 40px;
    margin-left: 157px;
  }

  &__area {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    text-align: center;
    padding: 35px 45px;

    p {
      margin-top: 32px;
      font-weight: 700;
      font-size: 24px;
    }
  }
}

.portfolio {
  margin-top: 153px;

  h3 {
    margin-top: 20px;
  }

  &__max-width-description {
    max-width: 674px;
  }

  &__cards {
    display: flex;
    justify-content: center;
    margin-top: 48px;
  }

  &__card {
    position: relative;

    p {
      position: absolute;
      font-weight: 700;
      font-size: 24px;
      color: #ffffff;
    }

    &:not(:last-child) {
      margin-right: 69px;
    }
  }

  &__sides {
    left: 24px;
    top: 295px;
  }

  &__center {
    left: 24px;
    top: 350px;
  }

  &__button-container {
    text-align: center;
    margin-top: 34px;
  }
}

.testimonial {
  margin-top: 180px;

  h3 {
    margin-top: 20px;
  }

  &__cards {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
}

.collaboration {
  margin-top: 247px;
  display: flex;

  &__align-left {
    text-align: left;
  }

  &__block-right {
    position: relative;
  }

  &__block-left {
    max-width: 491px;

    p {
      margin-top: 25px;
    }

    button {
      margin-top: 25px;
    }
  }

  &__background-img-one {
    position: absolute;
    left: 153px;
    top: 70px;
    max-width: 325px;
  }

  &__background-img-two {
    position: absolute;
    left: 450px;
    max-width: 294px;
  }
}

.footer {
  background: $fuscous-grey-color;
  padding: 60px;
  font-family: "Quicksand";
  margin-top: 178px;

  &__logo {
    background: #ffffff;
    padding: 10px;
    border-radius: 15px;
    margin-right: 68px;
    max-height: 71px;
  }

  &__container-col {
    display: flex;
    justify-content: center;
  }

  &__social-img {
    margin-top: 168px;
    text-align: center;
    img {
      &:not(:last-child) {
        margin-right: 40px;
      }
    }
  }

  &__col {
    &:not(:last-child) {
      margin-right: 77px;
    }
  }

  li {
    list-style-type: none;
    color: #ffffff;
    margin-top: 15px;
    cursor: pointer;
  }

  b {
    color: #FFFFFF;
    font-size: 22px;
  }

  p {
    text-align: center;
    margin: 16px auto 0;
    font-size: 18px;
    color: #FFFFFF;
  }

  &__container-col {
    display: flex;
  }

  &__social-img {
    border-bottom: 1px solid #FFFFFF;
    max-width: 499px;
    margin: 168px auto 0;
    padding-bottom: 16px;
  }
}