@import "./variables.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    max-width: $container-width;
    width: 100%;
    margin: auto;
    margin-top: 72px;
    display: flex;
    font-family: "Quicksand";
    align-items: center;
    justify-content: space-between;

    &__logo {
        display: flex;
        align-items: center;
    }

    &__agency {
        font-weight: 700;
        font-size: 20px;
    }

    &__creative {
        font-weight: 400;
        font-size: 16px;
        margin-top: 4px;
    }

    &__nav {
        display: flex;
    }

    &__nav-item {
        list-style-type: none;
        
        &:not(:last-child) {
            margin-right: 50px;
        }
    }

    p {
        margin-left: 10px;
    }

    a {
        text-decoration: none;
        font-size: 18px;
        &:hover {
            text-shadow: 0 0 .65px #1D1D1D, 0 0 .65px #1D1D1D;
        }
    }

    button {
        font: inherit;
        color: #377DFF;
        background-color: transparent;
        border: 1px solid #377DFF;
        padding: 12px 50px;
        cursor: pointer;
        border-radius: 24px;
    }
}





